<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
</head>
<body>
    <h1>Список задач</h1>

    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
        {% endfor %}
    </ul>

    <h2>Создать новую задачу</h2>
    <form method="post">
        {% csrf_token %}
        <label for="title">Название задачи:</label><br>
        <input type="text" id="title" name="title"><br>
        <button type="submit">Создать задачу</button>
    </form>
</body>
</html>
